[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
oracledb = "*"
alembic = "*"
sqlalchemy-jdbcapi = "*"
pytest = "*"
sqlalchemy-views = "*"
ipython = "*"
pylint = "*"
black = "*"
python-decouple = "*"
pytest-alembic = "*"

[dev-packages]

[requires]
python_version = "3.10"
